/*===========[Subcontent Area]============*/

.subcontent-area {
    padding: 5.25rem 2rem 2rem 14.5rem;
    min-height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
}

/*===========[Index]============*/

.index {
    max-width: 80%;
}

.index .menu-box {
    border: 5px solid #c4c4c4;
    border-radius: 30px;
    box-sizing: border-box;

    width: 250px;
    height: 200px;
    margin: 20px;

    cursor: pointer;

    text-decoration: none;

    color: currentColor;
}

.index .menu-box:hover {
    border: 10px solid #09bcaa;

    -webkit-box-shadow: inset 0px 10px 13px 0px rgba(0,0,0,0.47);
    -moz-box-shadow: inset 0px 10px 13px 0px rgba(0,0,0,0.47);
    box-shadow: inset 0px 10px 13px 0px rgba(0,0,0,0.47);
}

.index .menu-box-blank {
    border: 5px solid #c4c4c4;
    border-radius: 30px;
    box-sizing: border-box;

    width: 250px;
    height: 200px;
    margin: 20px;

    background-color: #c4c4c4;
}

.index .menu-box img {
    width: 150px;
    height: 150px;   
}

.index .menu-box h3 {
    margin: 0;
    display: block;
}

.menu-box .custom {
    margin-top: 20px;
    width: 130px !important;
    height: 130px !important;   
}
/*select*/
.selectPlate{
    font-size: 18px;
}


/* div*/
div.border-gray{
    border: 3px solid gray;
    
}
div.border-print{
    border: 1px solid rgb(0, 0, 0);
}
div.border-gray-2{
    border: 3px solid gray;
    padding: 42px 10px;
    
   
}
.width25{
    width: 25%
}

.width30{
    width: 30%
}
.width45{
    width: 45%
}
.width50{
    width: 50%
}
.width52{
    width: 52%
}
.width60{
    width: 60%
}
.width65{
    width: 65%
}
.width70{
    width: 70%
}
.width75{
    width: 75%
}
.width80{
    width: 80%
}

.width81{
    width: 81%
}
.width82{
    width: 81.5%
}

.width90 {
    width: 90%  
}

.height30{
    height: 25px;
}

.plate {
    width: 80%;
}
.partCompany{
    width: 100%;
}
.partCustomer{
    width: 40%;
    padding: 30px;
    
}
.partUpdateUsedParts {
    width: 70%;
}

.partCustomerDelete{
    width: 25%;
    padding: 20px;
}

.margin-left150{
    margin-left: 150px;
}

#formPartOrder{
    display: none;
}

#formPartDetailCustomer{
    display: none;
}

#formPartOrderCustomerAll{
    display: none;
}

.font-title{
    font-size: 60px;
    color: white;
    text-align: center;
}

.my-input{
    padding: 13px;
    display: block;
    border-style: solid;
    border-color: #ccc; 
    width: 95%;
    border-radius: 25px;
}

.car-buy .address {
    padding: 5px;
}

.car-buy {
    width: 100%;
}

.car-buy .main-column {
    margin: 10px;
}

.car-buy-search {
    height: 520px;
}

.car-buy-buttons {
    justify-content: flex-end;
}

.car-buy-search-input {
    box-sizing: border-box;
    margin: 3px;
    padding: 12px 20px 12px 40px !important;
}

.input-plate{
    box-sizing: border-box;
    border: 1px solid gray;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    width: 50%;    
  }
  .input-plateAdd{
    padding: 5px;

    border: 1px solid gray;

    font-size: 16px;
  }
  .textarea-plate{
    background-color: white;
    border-color: gray;
    color: #363636;
    box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
    max-width: 100%;
    font-size: 16px;
  }
  
  .boxplate textarea{
    padding: 5px;
  }
  option:nth-child(odd){
    background-color: #dddddd;
  }

  .bg-colormint{
    background-color: rgb(153, 213, 202, 1); 
   
  }
  
  .boxplate table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  .boxplate td, th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
  }
  .boxplate th{
    background-color: #dddddd;
  }
  .boxplate tr {
    background-color: #dddddd;
  }
  .boxplate tr:nth-child(even) {
    background-color: white;
  }
  .partCompany{
    width: 40%;
    padding: 30px;
  }
  .partCompany textarea{
    padding: 5px;
  }

#car_bill{
    display:none;
}

table.table-style-three {
    font-family: verdana, arial, sans-serif;
    font-size: 11px;
    color: #928c8c;
    border-width: 1px;
    border-color: rgb(143, 136, 136);
    border-collapse: collapse;
}

table.table-style-three th {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: gray;
    background-color: grey;
    color: #ffffff;
}

table.table-style-three tr:hover td {
    cursor: pointer;
}

table.table-style-three tr:nth-child(even) td {
    background-color: gray;
}

table.table-style-three td {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: gray;
    background-color: #ffffff;
}

.total-table {
  margin-left: auto;
}

.list-table {
  margin: 0 10%;
}

.half-left {
  width: 16.67%;
}

.half-right {
  width: 25%;
}

.half-table {
  width: 50%;
}
.deplay-none{
  display: none;
}
.cursor-pointer{
  cursor:pointer;
}

.partCompany-table tr:hover 
{
    background-color: #05897c;
}

.clicked{
  background-color: #FFF;
  text-align: center;
  font: "Palatino Linotype", "Book Antiqua", Palatino, Serif;
  font-size: 14px;
  color: #003299;
}

.paddingPart{
    padding: 5px;
}
