table, td, th {
    border: 1px solid black;
  }
  
  table {
    border-collapse: collapse;
    width: 90%;
    
  }
 
  th {
    text-align: left;
  }
  tr:nth-child(odd) {
    background-color: #dddddd;
  }
  tr#tr01 {
    background-color:gray;
  }
  option:nth-child(odd){
    background-color: #dddddd;
  }
  th.mixTop {border-style:solid solid hidden solid; border: 1px solid black;}
  td.mix {border-style: hidden solid hidden solid;}
  td.mixUnder {border-style: hidden solid solid solid;}

.select-table tr:not(:first-child):hover{ 
    background: rgb(35, 128, 250); 
    color: white;
}
input[type=text] {
    padding: 7px 35px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


